.table {
  margin-top: 20px;
  height: 400px;
  border-radius: 20px;
  overflow: scroll;
  background-color: #d8e0e7;
  color: #6a5d5d;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table td img {
  width: 45px;
  border-radius: 5px 5px 5px 5px;
}

.table tr:nth-of-type(even) {
  background-color: #f3f2f8;
}
